<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Example app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="ion-margin-horizontal">
      <ion-card-content class="ion-no-padding ion-padding-horizontal">
        <ion-input
          type="email"
          placeholder="Email address"
          class="ion-text-left"
        ></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-margin-horizontal">
      <ion-card-content class="ion-no-padding ion-padding-horizontal">
        <ion-input
          type="password"
          placeholder="Password"
          class="ion-text-left"
        ></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-button class="ion-margin-horizontal" expand="block" (click)="login()">
      Login
    </ion-button>
  </div>
</ion-content>
